{% extends "base.html" %}

{% block content %}
  <h1 class="h3 mb-4 text-gray-800">About BESA</h1>

  <div class="text-center">
    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem;" src="/static/img/undraw_searching.svg" alt="">
    <p class="text-justify">Lorem ipsum dolor sit amet, eu alii splendide est. Quo cu dolore dolores consulatu, his id malorum prodesset constituto. Ea pri aliquip ponderum honestatis, invidunt molestiae at eam. Vidit lobortis erroribus ad sit, sea noluisse voluptua id.

    Sed cu enim insolens vituperatoribus. Ei vis liber populo democritum, pro probo scripta accusata et. Cu eam recusabo inimicus, sea ex delenit periculis. Ea nam quem phaedrum, no eum harum option liberavisse, ei usu brute dicat. Maiorum tincidunt abhorreant cu mel, has dico corrumpit definitiones at.

    Quando convenire in his, te sit impedit antiopam. Quidam postulant sapientem et vix. Ad postea nostrum sadipscing usu, cu malis eruditi percipitur quo. Nec in eros idque, in his erant impedit, ceteros omnesque appareat usu cu. Vix meis fabulas interpretaris ut, placerat sensibus repudiandae duo ut.
    </p>
    <p class="text-justify">Mea populo persecuti ei, mei minim equidem noluisse eu. Ut illud oportere est, te vis animal prodesset. Eos illud posse consulatu in, et dolorum albucius detraxit has. Meis populo fuisset mel ea, has quodsi timeam iudicabit ut. Id menandri recteque reprimique cum, ea duo aliquip disputationi, diam zril reformidans sea at.

    Quo an nibh lucilius. Ea sed equidem inermis, at vis legere deleniti explicari. Pro id choro salutatus conclusionemque, usu illum delectus invenire at. Ne veniam putent nec, eu discere consetetur mei. Et atomorum volutpat maiestatis usu, eirmod consetetur usu ad, dicant vocibus iracundia at quo.
    </p>
    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 50rem;" src="/static/img/banner-kobe-2019.png" alt="">
    <p class="text-justify">Lorem ipsum dolor sit amet, eu alii splendide est. Quo cu dolore dolores consulatu, his id malorum prodesset constituto. Ea pri aliquip ponderum honestatis, invidunt molestiae at eam. Vidit lobortis erroribus ad sit, sea noluisse voluptua id.

    Sed cu enim insolens vituperatoribus. Ei vis liber populo democritum, pro probo scripta accusata et. Cu eam recusabo inimicus, sea ex delenit periculis. Ea nam quem phaedrum, no eum harum option liberavisse, ei usu brute dicat. Maiorum tincidunt abhorreant cu mel, has dico corrumpit definitiones at.

    Quando convenire in his, te sit impedit antiopam. Quidam postulant sapientem et vix. Ad postea nostrum sadipscing usu, cu malis eruditi percipitur quo. Nec in eros idque, in his erant impedit, ceteros omnesque appareat usu cu. Vix meis fabulas interpretaris ut, placerat sensibus repudiandae duo ut.

    Mea populo persecuti ei, mei minim equidem noluisse eu. Ut illud oportere est, te vis animal prodesset. Eos illud posse consulatu in, et dolorum albucius detraxit has. Meis populo fuisset mel ea, has quodsi timeam iudicabit ut. Id menandri recteque reprimique cum, ea duo aliquip disputationi, diam zril reformidans sea at.

    Quo an nibh lucilius. Ea sed equidem inermis, at vis legere deleniti explicari. Pro id choro salutatus conclusionemque, usu illum delectus invenire at. Ne veniam putent nec, eu discere consetetur mei. Et atomorum volutpat maiestatis usu, eirmod consetetur usu ad, dicant vocibus iracundia at quo.
    </p>
  </div>
{% endblock %}
