{% extends "base.html" %}

{% block content %}
  <h1 class="h3 mb-4 text-gray-800">Barcelona environmental initiatives</h1>

  <div class="text-center">
    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem;" src="/static/img/undraw_environment.svg" alt="">
    <p class="text-justify">Lorem ipsum dolor sit amet, eu alii splendide est. Quo cu dolore dolores consulatu, his id malorum prodesset constituto. Ea pri aliquip ponderum honestatis, invidunt molestiae at eam. Vidit lobortis erroribus ad sit, sea noluisse voluptua id.

    Sed cu enim insolens vituperatoribus. Ei vis liber populo democritum, pro probo scripta accusata et. Cu eam recusabo inimicus, sea ex delenit periculis. Ea nam quem phaedrum, no eum harum option liberavisse, ei usu brute dicat. Maiorum tincidunt abhorreant cu mel, has dico corrumpit definitiones at.

    Quando convenire in his, te sit impedit antiopam. Quidam postulant sapientem et vix. Ad postea nostrum sadipscing usu, cu malis eruditi percipitur quo. Nec in eros idque, in his erant impedit, ceteros omnesque appareat usu cu. Vix meis fabulas interpretaris ut, placerat sensibus repudiandae duo ut.
    </p>
  </div>

  <div class="row">
    <!-- Frist column -->
    <div class="col-lg-6">
      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Barcelona Pla Clima</h6>
        </div>
        <div class="card-body text-center">
          <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 40rem;" src="/static/img/barcelona_pel_clima.jpg" alt="">
          <p class="text-justify">The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!</p>
        </div>
      </div>
      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Barcelona Pla Clima</h6>
        </div>
        <div class="card-body text-center">
          <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 40rem;" src="/static/img/barcelona_pel_clima.jpg" alt="">
          <p class="text-justify">The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!</p>
        </div>
      </div>
    </div>

    <!-- Second column -->
    <div class="col-lg-6">
      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Barcelona Pla Clima</h6>
        </div>
        <div class="card-body text-center">
          <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 40rem;" src="/static/img/barcelona_pel_clima.jpg" alt="">
          <p class="text-justify">The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!</p>
        </div>
      </div>
      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Barcelona Pla Clima</h6>
        </div>
        <div class="card-body text-center">
          <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 40rem;" src="/static/img/barcelona_pel_clima.jpg" alt="">
          <p class="text-justify">The styling for this basic card example is created by using default Bootstrap utility classes. By using utility classes, the style of the card component can be easily modified with no need for any custom CSS!</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
