{% extends "base.html" %}

{% block content %}
  <h1 class="h3 mb-4 text-gray-800">Barcelona environmental initiatives</h1>

  <div class="text-center">
    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem;" src="/static/img/undraw_environment.svg" alt="">
    <p class="text-justify">The City Council is looking into how climate change will affect the city at a local level, in order to lessen its impact and be prepared. There are huge differences in the potential impact of climate change if we act on a global scale to reduce greenhouse gas emissions.
    </p>
    <p class="text-justify">The Barcelona Metropolitan Area (AMB) conducted a study of the region’s climate along with the Barcelona Regional development agency and Catalan Meteorological Service, to analyse climate projects on a more local scale. Barcelona City Council has continued this work to find out in more detail how climate change will affect the area around Barcelona, particularly in relation to high temperatures.
    </p>
    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 40rem;" src="/static/img/barcelona_pel_clima.jpg" alt="">
    <p class="text-justify">The Climate Plan gives an integrated overview of the measures to tackle climate change, allowing the objectives of the new Covenant of Majors for Climate & Energy, which Barcelona City Council has signed, to be achieved.</p>
    <p class="text-justify">The Climate Plan’s time-frame runs to 2030, and it includes both short term (2018-2020) and medium-long term (2021-2030) objectives and strategic measures. It has 4 strategic axes: mitigation, adaptation/resilience, climate justice and the promotion of citizen action.
    </p>
    <p>For more information please access <a href="http://lameva.barcelona.cat/barcelona-pel-clima/en/">Barcelona Pel Clima</a>.
    </p>
  </div>
  <h3 class="h3 mb-4 text-gray-800">Environmental Strategic Projects</h3>
  <div class="row">
    <!-- Frist column -->
    <div class="col-lg-4">
      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Energy</h6>
        </div>
        <div class="card-body text-center">
          <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="height: 10rem;" src="/static/img/undraw_wind_turbine.svg" alt="">
          <p class="text-justify">The Barcelona Energy Agency developed the Energy, Climate Change and Air Quality Plan for the 2011-2020 period (PECQ). This plan proposes cross-cutting and ambitious initiatives to meet the commitment signed up to by Barcelona, under the framework of the European Union’s Covenant of Mayors, to reduce its greenhouse-gas emissions associated with municipal activities by 20 % by 2020.</p>
          <p>For more information please access the <a href="http://energia.barcelona/en/">official web page</a>.</p>
        </div>
      </div>
      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Animal Welfare</h6>
        </div>
        <div class="card-body text-center">
          <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="height: 10rem;" src="/static/img/undraw_chilling.svg" alt="">
          <p class="text-justify">En Barcelona, los animales son ciudadanos de pleno derecho y, como seres dependientes que son, nos corresponde a todos garantizar su bienestar y fomentar una buena convivencia con toda la ciudadanía (también con quienes, legítimamente, no disfrutan de su buena compañía).</p>
          <p>For more information please access the <a href="http://ajuntament.barcelona.cat/benestaranimal/es">official web page</a>.</p>
        </div>
      </div>
    </div>

    <!-- Second column -->
    <div class="col-lg-4">
      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Air quality</h6>
        </div>
        <div class="card-body text-center">
          <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="height: 10rem;" src="/static/img/undraw_Country_side.svg" alt="">
          <p class="text-justify">In November 2016, Barcelona City Council presented the Government Measure: Programme of measures to combat atmospheric pollution. The goal is to fulfil the World Health Organisation recommendations and the commitment established with the European Union to reduce pollution indices that exceed the threshold established by the European regulations, and thus protect people’s health.
          </p>
          <p>For more information please access the <a href="https://ajuntament.barcelona.cat/qualitataire/en">official web page</a>.</p>
        </div>
      </div>
      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Special Tourist Accommodation Plan (PEUAT)</h6>
        </div>
        <div class="card-body text-center">
          <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="height: 10rem;" src="/static/img/undraw_travelers.svg" alt="">
          <p class="text-justify">The Special Tourist Accommodation Plan (PEUAT) regulates the introduction of tourist accommodation establishments, as well as youth hostels, collective residences with temporary accommodation and tourist apartments.</p>
          <p class="text-justify">This regulation is in response to the need to make tourist accommodation compatible with a sustainable urban model based on guaranteeing fundamental rights and improving the quality of life for city residents.
          </p>
          <p>For more information please access the <a href="http://ajuntament.barcelona.cat/pla-allotjaments-turistics/en/">official web page</a>.</p>
        </div>
      </div>
    </div>

    <!-- Third column -->
    <div class="col-lg-4">
      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Bicycle</h6>
        </div>
        <div class="card-body text-center">
          <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="height: 10rem;" src="/static/img/undraw_biking.svg" alt="">
          <p class="text-justify">In 2015, Barcelona launched the “Bicycle Strategy for Barcelona” government measure, which encouraged increased bicycle use as a habitual mode of urban transport, with actions such as enlarging and improving the cycling infrastructure, improving signage to guarantee safer journeys, and actions to ensure harmonious co-existence with other people using the public highway, both pedestrians and other road vehicles.</p>
          <p>For more information please access the <a href="http://ajuntament.barcelona.cat/bicicleta/en">official web page</a>.</p>
        </div>
      </div>
      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Superblocks</h6>
        </div>
        <div class="card-body text-center">
          <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 40rem;" src="/static/img/superblocks.jpg" alt="">
          <p class="text-justify">El programa “Llenamos de vida las calles. La implantación del modelo de supermanzanas en Barcelona” requiere la implicación de todo el mundo, ya que, a través de procesos participativos, vecindario y colectivos de cada barrio intervienen en los análisis y el diseño de cada supermanzana, y adaptan el modelo a las características de la zona y a las necesidades concretas de cada caso.</p>
          <p>For more information please access the <a href="http://ajuntament.barcelona.cat/superilles/en/">official web page</a>.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
