{% extends "base.html" %}

{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4 pt-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>

  <p class="text-justify">The two main subjects of interest are environment and mobility, each of them with its own particularities. It's important to keep track of the development of the city to better understand the actual scenario. Also, maps are useful in data interpretation because it's absolutely not clear that people are getting the same opportunities.</p>

  <!-- Content Row -->
  <div class="row">

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

      <h4>Environment</h4>

      <p class="text-justify">The most discussed subject nowadays is climate, because of that there's information collected about the average temperatures and the rain precipitation over the past centuries in Barcelona.</p>
      <p class="text-justify">Some complementary information about the green areas and waste management are also included in the section city infrastructure.</p>

      <!-- Accordion -->
      <div id="accordionExample" class="accordion shadow">

        <!-- Accordion item 1 -->
        <div class="card">
          <div id="headingOne" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">Temperature</a></h6>
          </div>
          <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-5">
              <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem;" src="/static/img/undraw_weather.svg" alt="">
              </div>
              <p class="text-justify font-weight-light m-0">Global warming has been included in all speeches lately and it's where the efforts are being concentrated. Fortunately, Barcelona has the average temperature of each month of the past couple of centuries. It's possible to see the variation over time and the spikes of high temperatures in summer over the recent years.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 2 -->
        <div class="card">
          <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Rain precipitation</a></h6>
          </div>
          <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-5">
              <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem;" src="/static/img/undraw_raining.svg" alt="">
              </div>
              <p class="text-justify font-weight-light m-0">The rain is also a concern for climate change because of the storms that are happening all over the world. Barcelona has it's own measurements of the average rain precipitation.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 3 -->
        <div class="card">
          <div id="headingThree" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">City infrastructure</a></h6>
          </div>
          <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-5">
              <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem;" src="/static/img/undraw_bus_stop.svg" alt="">
              </div>
              <p class="text-justify font-weight-light m-0">This section have information about the eco-friendly spaces inside the city area, including the vegetation on streets, green spaces, and the waste management.</p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="col-lg-6 mb-4">

      <h4>Mobility</h4>

      <p class="text-justify">The cities have been redesigned to accommodate cars and other means of transportation, this helped to create heavily populated and dense areas. The biggest challenge is to keep such efficiency and be environment-friendly. The data chosen to be analyzed includes the availability of alternatives and how safe the streets are.</p>

      <!-- Accordion -->
      <div id="accordionMobility" class="accordion shadow">

        <!-- Accordion item 1 -->
        <div class="card">
          <div id="headingFour" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">Public Transportation</a></h6>
          </div>
          <div id="collapseFour" aria-labelledby="headingFour" data-parent="#accordionMobility" class="collapse">
            <div class="card-body p-5">
              <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem;" src="/static/img/undraw_subway.svg" alt="">
              </div>
              <p class="text-justify font-weight-light m-0">This section shows the bus stops around the city with the objective to see the coverage of this service around town.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 2 -->
        <div class="card">
          <div id="headingFive" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Bicycle</a></h6>
          </div>
          <div id="collapseFive" aria-labelledby="headingFive" data-parent="#accordionMobility" class="collapse">
            <div class="card-body p-5">
              <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem;" src="/static/img/undraw_biking.svg" alt="">
              </div>
              <p class="text-justify font-weight-light m-0">The bicycles have their own chapter in modern cities. This alternative is cheap and great for the environment although it serves for medium and short distances, combined with public transportations that serve well most of the population. Even with the verticalization of city centers, the housing prices are so high that people need to move out to neighborhoods far way.</p>

              <p class="text-justify font-weight-light m-0">To work well, bicycles must have proper infrastructure and follow the dynamic of the city flow.</p>
            </div>
          </div>
        </div>

        <!-- Accordion item 3 -->
        <div class="card">
          <div id="headingSix" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">Safety</a></h6>
          </div>
          <div id="collapseSix" aria-labelledby="headingSix" data-parent="#accordionMobility" class="collapse">
            <div class="card-body p-5">
              <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem;" src="/static/img/undraw_security.svg" alt="">
              </div>
              <p class="text-justify font-weight-light m-0">The safety is even more important than mobility efficiency. By exposing the data of the traffic incidents it's possible to compare the impact of transport implementations over time.</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

{% endblock %}